.reveal pre {
    font-size: 0.50em;
    border: 0;
}

.reveal pre code {
    max-height: 550px;
    font-family: Monaco, "Ubuntu Mono";
}

.reveal .slides {
    text-align: left;
    font-size: 32px !important;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-family: Consolas, Monaco, Arial, "Ubuntu Mono";
    text-align: center;
}

.reveal .slides section>ul {
    margin-left: 10%;
    margin-right: 0;
}

.reveal section img {
    border: 0;
    box-shadow: none;
    max-height: 500px;
    align: center;
}
