.reveal pre {
    font-size: 0.35em;
    border: 0;
}

.reveal pre code {
    max-height: 550px;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6 {
    font-family: Arial, "Ubuntu Mono", Monaco;
}
